.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collumn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 60vw;
}
.box-1{
    width: 33.33%;
    height: 100%;
    background: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}
.box-2{
    width: 33.33%;
    height: 100%;
    background: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-3{
    width: 33.33%;
    height: 100%;
    background: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}
/* .....................................................first box................................................. */
h1{
    color: white;

}
p{
    color: hsla(0, 0%, 100%, 0.75);
    white-space: pre-line;
    word-spacing: 6px;
}
.box-1 button{
    background: white;
    border: 1px solid white;
    color:hsl(31, 77%, 52%);
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 80px;
    cursor: pointer;
}
/* .....................................................second box............................................... */
h1{
    color: white;

}
p{
    color: hsla(0, 0%, 100%, 0.75);
    white-space: pre-line;
    word-spacing: 6px;
    
}
.box-2 button{
    background: white;
    border: 1px solid white;
    color:hsl(184, 100%, 22%);
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 80px;
    cursor: pointer;
}
/* ................................................third box...................................................... */
h1{
    color: white;

}
p{
    color: hsla(0, 0%, 100%, 0.75);
    white-space: pre-line;
    word-spacing: 6px;
    
}
.box-3 button{
    background: white;
    border: 1px solid white;
    color:hsl(179, 100%, 13%);
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 80px;
    cursor: pointer;
}